{
    "presets": [
      "env",
      "react-app"
    ],
    "plugins": [
      [
        "import",
        {
          "libraryName": "antd-mobile",
          "style": "css"
        }
      ],
      [
        "transform-decorators-legacy"
      ],
      [
        "file-loader",
        {
          "name": "static/media/[name].[hash:8].[ext]",
          "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
          "publicPath": "/"
        }
      ]
    ]
}