body {
	background-color: #0000000f;
}
.logo-container img{
	width:80%;
}
.am-tab-bar-bar{
	background-color: #faf6f5f2;
}
.am-list-header{
	color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.am-tab-bar-tab-title{
	color: black;
}
.error-msg{
	color:#f50;
	padding-left: 10px;
}
.am-navbar{
	background-color: #cd3b0c;
}
.fixed-header.am-navbar{
	position: fixed;
	top:0;
	width:100%;
	z-index: 1;
}

.fixed-bottom{
	position: fixed;
	bottom:0;
	width:100%;
}

.page-content{
	padding:45px 5px;
}

#chat-page .chat-me .am-list-content, #chat-page .chat-who .am-list-content{
	min-height: 20px;	
}
#chat-page .chat-me .am-list-extra{
	flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
	margin: 10px 3% 10px 20%;
    padding: 7px 30px 7px 16px;
    background: mintcream;
	/*text-align: right;*/
}
#chat-page .chat-who .am-list-content{
	padding: 7px 30px 7px 20px;
	margin: 10px 20% 10px 1%;
	background: aliceblue;
}
#chat-page .am-grid-icon{
	display:none;
}
#chat-page .am-grid-text{
	margin-top: 0;
}
.stick-footer{
	z-index: 10;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*fix IOS fixed header/footer lose efficacy when input elements are used issue in chat page*/
.chatContent {
	/*绝对定位，进行内部滚动*/
	/*margin-top:45; 
	margin-bottom:45;*/
	width: 100%;
	position: absolute;
	top:45px;
	bottom:45px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
} 

/*for ReactCSSTransitionGroup*/
.esna-enter {
  opacity: 0.01;
}

.esna-enter.esna-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.esna-leave {
  opacity: 1;
}

.esna-leave.esna-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.esna-appear {
  opacity: 0.01;
}

.esna-appear.esna-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*for error img*/
.error-container{
	display:block;
	margin:50px auto;
}